/* Importiamo i font da Google Fonts e le icone di Bootstrap */
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;1,400;1,500&family=Raleway:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Reset globale e impostazioni di base del font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Stile dell'intestazione principale */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}

#product-list, #main-products, #main-products {
  min-height: 500px;
  }

/* Stile dell'input di ricerca */
#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}

/* Stile del modulo di ricerca */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}



/* Stile del contenitore dei risultati di ricerca */
.search-results {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* Animazione di rotazione */
.rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Media query per schermi di larghezza massima 768px */
@media screen and (max-width: 768px) {
  .search-results {
    padding: 20px;
  }
  .search-result {
    width: 45%;
  }
}

/* Media query per schermi di larghezza massima 480px */
@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }
}

/* Aggiungi stili personalizzati qui */
#navbar {
  background-color: #343a40;
  color: #ffffff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar-nav .nav-item.active .nav-link {
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: #ffffff;
}

.navbar-nav.ml-auto .nav-link {
  margin-left: 20px;
}

/* Stili personalizzati per il footer */
#footer {
  background-color: #343a40;
  color: #ffffff;
}

#footer h4 {
  font-size: 18px;
  font-weight: bold;
}

#footer p {
  font-size: 14px;
  margin-bottom: 10px;
}

#footer ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

#footer ul.list-unstyled li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

#footer ul.list-unstyled li a:hover {
  text-decoration: underline;
}

#footer .copyright {
  font-size: 12px;
  margin-top: 20px;
}

.custom-spinner {
  width: 60px; /* Larghezza incrementata */
  height: 60px; /* Altezza incrementata */
  margin: 100px; /* Margini aggiunti */
}

/* Stile per il secondo titolo */
#back-office-title {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

/* BACKOFFICE */
section {
  margin: 0 0 50px 0;
}

section#footer {
  margin: 0 0 0 0;
}

.product,
.no-items-message {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.product-attributes {
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.modal-header {
  background-color: #343a40;
  font-weight: bold;
  color: white; /* Colore del testo dell'header */
  border-bottom: none; /* Rimuove la linea inferiore dell'header */
}

/* PER TRONCARE IL TESTO NELLA LISTA PRODOTTI DEL BACKOFFICE */
.truncate-text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Sostituisci con la larghezza massima desiderata */
}